---
export interface Props {
	id: string;
	bg: string;
	copy: string;
	title: string;
}

const { id, bg, copy, title } = Astro.props;

const bgColors = {
	primary: 'bg-primary',
	secondary: 'bg-secondary',
};

let background = bgColors[bg];
---

<header
	id={`${id}-section-hero`}
	class={`${background} sticky top-0 w-full py-16 md:py-12 lg:py-24 flex flex-col items-center gap-4`}
>
	<hgroup>
		<div class="flex flex-col items-center gap-4">
			<h2 class="py-2 text-5xl font-extrabold tracking-tight text-center text-gradient">
				{title}
			</h2>
		</div>
		<p class="max-w-xl text-xl font-extrabold text-center text-default">
			{copy}
		</p>
	</hgroup>
</header>
