---
export interface Props {
	device: 'iphone' | 'macbook' | 'ipad' | 'imac';
	imageUrl: string;
}

const { device, imageUrl } = Astro.props;

const devices = {
	ipad: 'device-ipad-pro',
	iphone: 'device-iphone-14-pro',
	macbook: 'device-macbook-14-pro',
	imac: 'device-imac',
};

const type = devices[device];
---

<div class={`device ${type}`}>
	<div class="device-frame">
		<img class="device-screen" src={imageUrl} />
	</div>
	<div class="device-stripe"></div>
	<div class="device-header"></div>
	<div class="device-sensors"></div>
	<div class="device-btns"></div>
	<div class="device-power"></div>
</div>
