---
import { Icon } from 'astro-icon';
import Logo from '~/components/atoms/Logo.astro';
import { getHomePermalink, getBlogPermalink, getPermalink, getRelativeLink } from '~/utils/permalinks';
import ToggleTheme from '~/components/core/ThemeSwitcherOLD.astro';

import type { NavLink } from '~/types';

export interface Props {
	localLinks: Array<NavLink>;
}

const { localLinks } = Astro.props;
---

<nav
	id="local-nav"
	aria-label="page navigation"
	class="absolute top-0 z-20 flex w-full items-center border-b border-default bg-secondary text-primary backdrop-blur-xl transition-all duration-1000 ease-in-out"
>
	<div class="w-full flex py-1 px-4">
		<div class="max-w-screen-lg mx-auto flex w-full">
			<div class="p-1 flex flex-row items-center pl-2">
				<span class="p-1 flex flex-col items-center">
					<a href={getHomePermalink()} title="home button" aria-label="Home">
						<Icon name="logomark" class="w-6 h-6" />
					</a>
				</span>
			</div>
			<ul class="flex flex-row-reverse items-center w-full pr-2 gap-6">
				{
					localLinks.map(({ id, title, url }) => (
						<li id={`local-link-${id}`} class="p-1 flex flex-col items-center">
							<a class="text-xs" href={url}>
								{title}
							</a>
						</li>
					))
				}
			</ul>
			<!-- <ToggleTheme /> -->
		</div>
	</div>
</nav>
