---
import { Icon } from 'astro-icon';
import Logo from '~/components/atoms/Logo.astro';
import { getHomePermalink, getBlogPermalink, getPermalink, getRelativeLink } from '~/utils/permalinks';
import ToggleTheme from '~/components/core/ThemeSwitcherOLD.astro';

import type { NavLink } from '~/types';

export interface Props {
	links: Array<NavLink>;
}

const { links } = Astro.props;
---

<nav
	id="local-nav"
	aria-label="page navigation"
	class="absolute top-0 z-20 flex w-full items-center justify-between border-b border-default px-8 py-1 text-default"
>
	<Logo />
	<div>
		<div class="flex items-center gap-6">
			<nav class="hidden sm:block">
				<ul class="flex items-center gap-6">
					{
						links.map(({ title, url }) => (
							<li>
								<a class="text-sm" href={url}>
									{title}
								</a>
							</li>
						))
					}
				</ul>
			</nav>
			<!-- <ToggleTheme /> -->
		</div>
		<div id="menu-modal" class="modal hidden" aria-hidden="true">
			<div class="fixed inset-0 bg-default px-8 py-4">
				<div class="space-y-4" role="dialog" aria-modal="true">
					<div class="text-right">
						<button id="close-nav-button" type="button" class="btn" aria-label="Close navigation">
							<Icon pack="mdi" name="close" class="h-8" />
						</button>
					</div>
					<div class="flex justify-center">
						<Icon name="logomark" class="h-16" />
					</div>
					<ul class="flex flex-col">
						{
							links.map(({ title, url }) => (
								<li>
									<a class="block py-4 text-center text-xl" href={url}>
										{title}
									</a>
								</li>
							))
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>
