---
export interface Props {
	id: string;
	bg?: 'primary' | 'secondary';
}

const { id, bg = 'default' } = Astro.props;

const bgColors = {
	primary: 'bg-primary',
	secondary: 'bg-secondary',
	default: 'bg-default',
};

let background = bgColors[bg];
---

<div id={`${id}-slide-stack`} class={`relative ${background} w-full min-h-[100px] md:rounded-t-2xl shadow-md`}>
	<slot />
</div>
