---
export interface Props {
	text: string;
	href: string;
}

const { text, href } = Astro.props;
---

<a
	href={href}
	class="inline-flex items-center justify-center rounded-md shadow-md border-primary border-2 bg-transparent font-medium text-center text-base text-gray-700 leading-snug transition py-3 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800"
>
	<span class="relative text-base font-semibold text-primary">{text}</span>
</a>
