[data-theme="light"] {
  --primary: theme("pallet.light.primary");
  --secondary: theme("pallet.light.secondary");
	--accent: theme("pallet.light.accent");
  --text: theme("pallet.light.text");
  --text-offset: theme("pallet.light.textOffset");
  --background: theme("pallet.light.background");
	--background-primary: theme("pallet.light.primary");
  --background-offset: theme("pallet.light.backgroundOffset");
	--background-transparent: theme("colors.gray.50" / 60%);
  --background-offset-transparent: theme("pallet.light.backgroundOffset"/ 60%);
  --border: theme("pallet.light.border" / 10%);
}

[data-theme="dark"] {
	--primary: theme("pallet.dark.primary");
  --secondary: theme("pallet.dark.secondary");
	--accent: theme("pallet.dark.accent");
  --text: theme("pallet.dark.text");
  --text-offset: theme("pallet.dark.textOffset");
  --background: theme("pallet.dark.background");
  --background-offset: theme("pallet.dark.backgroundOffset");
	--background-transparent: theme("pallet.dark.background" / 60%);
  --background-offset-transparent: theme("pallet.dark.backgroundOffset"/ 60%);
  --border: theme("pallet.dark.border" / 10%);
}
