---
import Announcement from '~/components/widgets/Announcement.astro';
import Footer from '~/components/widgets/Footer.astro';
import NavGlobal from '~/components/widgets/NavGlobal.astro';
import BaseLayout from '~/layouts/BaseLayout.astro';
import NavLocal from '~/components/widgets/NavLocal.astro';
import SkipToContent from '~/components/widgets/SkipToContent.astro';

import type { NavLink, IconLink, MetaData } from '~/types';
export interface Props {
	meta: MetaData;
	globalLinks: Array<NavLink>;
	localLinks: Array<NavLink>;
	socialLinks: Array<IconLink>;
}
const { meta, localLinks, globalLinks, socialLinks } = Astro.props;
---

<BaseLayout {meta}>
	<SkipToContent />
	<!-- <Announcement /> -->
	<section id="splash-header">
		<NavGlobal globalLinks={globalLinks} socialLinks={socialLinks} />
		<slot name="splash" />
	</section>
	<main class="relative">
		<NavLocal localLinks={localLinks} />
		<slot />
	</main>
	<Footer />
</BaseLayout>
