---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';
import SkipToContent from '~/components/widgets/SkipToContent.astro';

import BottomHeader from '~/components/widgets/BottomHeader.astro';

const { meta } = Astro.props;
---

<Layout {meta}>
	<SkipToContent />
	<Announcement />
	<!-- <Header /> -->
	<BottomHeader />
	<slot name="hero" />
	<main class="space-y-24 px-8 py-32">
		<slot />
	</main>
	<Footer />
</Layout>
