---
export interface Props {
	id: string;
	bg?: 'primary' | 'secondary';
}

const { id, bg = 'default' } = Astro.props;

const bgColors = {
	primary: 'bg-primary',
	secondary: 'bg-secondary',
	default: 'bg-default',
};

let background = bgColors[bg];
---

<section id={`${id}-section`} class={`${background} relative flex flex-col items-center`}>
	<slot />
</section>
